
<div class="container formStyle" >
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">

      <form  #addmeetingform="ngForm" >
        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title><b style="font-size: 20px">Create Meeting</b></mat-card-title>
            <mat-card-subtitle>Please enter the details below</mat-card-subtitle>
          </mat-card-header>
          <hr>
          <mat-card-content >
            <p>

              <mat-form-field appearance="outline">
                <mat-label>Enter the Venue</mat-label>
                <input required class="inputStyle" [(ngModel)]="meeting.venue" name="venue" matInput placeholder="Placeholder">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Enter the Title</mat-label>
                <input required [(ngModel)]="meeting.title" name="title" matInput placeholder="Placeholder">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="example-full-width">
                <input required [(ngModel)]="meeting.meeting_date" name="meeting_date" matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>

            </p>
            <p>


            </p>
          </mat-card-content>
          <mat-card-actions>
            <button [disabled]="false" (click)="newMeeting()" mat-raised-button color="accent">
              CREATE</button>
            <button (click)="reset()" mat-raised-button color="accent">
              RESET</button>
          </mat-card-actions>
        </mat-card>

      </form>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
      <mat-card>

      <b>All your organised Meetings</b>
      <div *ngFor="let meeting of meetings">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{meeting.title}}
            </mat-panel-title>
            <mat-panel-description>
              {{meeting.venue}} | {{meeting.date}}
            </mat-panel-description>
            <mat-panel-description>
              <div style="margin-right: auto">
                <button style="margin-right: 5px" (click)="updateMeeting(meeting)" mat-raised-button color="accent">
                  UPDATE</button>
                <button  style="margin-right: 5px"  (click)="deleteMeeting(meeting)" mat-raised-button color="warn">
                  DELETE</button>
              </div>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <hr>
          <b>Tasks Allocated</b>
          <hr>
          <button mat-raised-button color="accent" (click)="viewCreatedTasks(meeting.id)">VIEW CREATED TASKS</button>

          <mat-list >
            <div *ngFor="let task of tasks;  let i=index">
            {{i+1}} ]     {{task.details}}

            </div>
          </mat-list>
          <hr>
          <form  #addCustomerForm="ngForm">

          <b>Add Task</b>

          <hr>
          <mat-form-field>

            <input [(ngModel)]="task.details" name="details" matInput placeholder="Enter task details here">

          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button color="accent"  (click)="saveAndAssignTask(meeting.id)">ADD TASK</button>
            <button (click)="reset()"  mat-raised-button color="accent">RESET</button>
          </mat-card-actions>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      </div>

      </mat-card>
    </div>
</div>
</div>
